.legend {
    background-color: #fff;
    border-radius: 3px;
    /*bottom: 30px;*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    /*position: absolute;
    right: 10px;*/
    z-index: 1;
    }
     
.legend h4 {
    margin: 0 0 10px;
}
.mapboxgl-ctrl-attrib.mapboxgl-compact, .maplibregl-ctrl-attrib.maplibregl-compact{
    max-width: 70vw;
}
.legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
}
.add-button > button{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: green;
}
.add-control {
    padding: 5px;
    background-color: #ebebeb;
}
.share-control {
    width: 30px;
    padding: 3px;
    padding-top: 6px;
    background-color: rgb(56, 42, 191);
    text-align: center;
    
}
.share-control > i{
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
.share-control> span > a:hover {
    background-color: rgba(56, 42, 191, 0.75);  
}
.share-control > button{
    line-height: 12px;
    text-align: center;
    text-decoration: none;    
}
.share-control > span  {
    padding-top: 10px;
    margin-top: 10px;
    cursor: default;
    
}
.share-control > span > a {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    cursor: pointer;
}
.share-control > span > a > img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.share-control > span > i {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.share-control > span > i > img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.form-span{
    margin: 3px;
    line-height: 1em;

}
.maplibregl-popup-content > h2{
    margin-top: 5px;
}
.maplibregl-popup-content {
    background-color: #ebebeb;
}
.open-edit-button{
    border: 0;
    /*background-color: #fff;*/
    cursor: pointer;
}
.open-edit-button:hover{
    background-color: #E1E1E1;
}
i {
    color: #666;
}
.open-edit-button:hover i{
    color: #800;
}
.imgPreview{
    
    
    position: relative;
    width: 95%;
    height: 0px;
    max-height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
    
}
.imgPreview img {
    object-fit: contain;
    /*background-color: #ccc;*/
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 95%;
    height: inherit;
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    
    
    
    
}
.form-span:last-of-type{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.logo-image {
    width: 95%;
    /*background-color: #eee;*/
    margin-left: auto;
    margin-right: auto;
    display: block;
}
form{
    background-color: #ebebeb;
    max-height: 80vh;
    overflow-x: auto;
    width: 22vw;
    overflow-y: scroll;
    scrollbar-color: aliceblue lightgray;
    scrollbar-width: thin;
}
.form-span input{
    width: 90%;
}
@media screen and (max-width: 420px) {
    form{
        max-height: 70vh;
        overflow-x: auto;
        width: 80vw;
        overflow-y: scroll;
        scrollbar-width: thin;
    }
    .form-span input[type="text"]{
        width: 90%;
    }
}
