.legend-control{
    padding: 10px;
    width: 25vw;
    min-width:20vw;
}
.add-button > button{
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: green;
}
.add-control {

}
.circle{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    padding: 2px;

    background: #fff;
    /*border: 2px solid #666;*/
    color: #666;
    text-align: center;
}
td {
    font-size: small;
}
.maplibregl-popup-content > h2{
    margin-top: 5px;
}